Repository rubberduck-vba/Rubberduck, pull requests merged in 2018-06, with the labels that each got.

#4081 AutoComplete III
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteFunctionBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteIfBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompletePropertyBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/AutoComplete/AutoCompleteSubBlock.cs
  Rubberduck.Core/AutoComplete/IAutoComplete.cs
  Rubberduck.Core/Common/RubberduckHooks.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Rubberduck.Core.csproj
  Rubberduck.Core/Settings/AutoCompleteSetting.cs
  Rubberduck.Core/Settings/AutoCompleteSettings.cs
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
  Rubberduck.Core/UI/Settings/AutoCompleteSettingsViewModel.cs
  Rubberduck.Core/app.config
  Rubberduck.Resources/Settings/AutoCompletesPage.cs.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.de.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.fr.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.resx
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
Labels: PR-Status: WIP, feature-autocomplete

#4044 Follow Up to 4006
  Rubberduck.Core/App.cs
  Rubberduck.Core/UI/CodeExplorer/Commands/RemoveCommand.cs
  Rubberduck.Interaction/IMessageBox.cs
  RubberduckTests/CodeExplorer/CodeExplorerTests.cs
  RubberduckTests/Refactoring/IntroduceParameterTests.cs
  RubberduckTests/Refactoring/RemoveParametersTests.cs
  RubberduckTests/Refactoring/RenameTests.cs
  RubberduckTests/Refactoring/ReorderParametersTests.cs
Labels: PR-Status: Review Requested

#4123 AutoComplete IV
  Rubberduck.Core/AutoComplete/AutoCompleteBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteBlockBase.cs
  Rubberduck.Core/AutoComplete/AutoCompleteFunctionBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompletePropertyBlock.cs
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.VBEEditor/Events/VBENativeServices.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB/Abstract/ICodePane.cs
  Rubberduck.VBEEditor/Selection.cs
  Rubberduck.VBEEditor/WindowsApi/CodePaneSubclass.cs
  Rubberduck.VBEEditor/WindowsApi/WinEvent.cs
Labels: feature-autocomplete

#4133 implemented smart-concat
  Rubberduck.Core/AutoComplete/AutoCompleteService.cs
  Rubberduck.Core/Properties/Settings.Designer.cs
  Rubberduck.Core/Properties/Settings.settings
  Rubberduck.Core/Settings/AutoCompleteSettings.cs
  Rubberduck.Core/UI/Settings/AutoCompleteSettings.xaml
  Rubberduck.Core/UI/Settings/AutoCompleteSettingsViewModel.cs
  Rubberduck.Core/app.config
  Rubberduck.Resources/Settings/AutoCompletesPage.Designer.cs
  Rubberduck.Resources/Settings/AutoCompletesPage.cs.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.de.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.fr.resx
  Rubberduck.Resources/Settings/AutoCompletesPage.resx
  Rubberduck.VBEditor.VBA/SafeComWrappers/VB/CodeModule.cs
Labels: enhancement, feature-autocomplete
